/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    
    background-color: #F3FFFF;
}

.home_page{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
    width: 95%;
    margin: 0PX auto;
}
.home_page>*{
    padding: 10PX;
    margin: 10PX;
    border-radius: 10px;
}
.hom_heading{
    width: 80%;
    height: 150px;
    margin: 30px;
    border: none;
    border-radius: 1000px;
    box-shadow: 1px 1px 2px rgba(79,209,197,.64);
  }
  .logo{
    margin-left: 40px;
    margin-top: 30px;
      float: left;
      font-size: 280;
      text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
      0px -4px 10px rgba(255,255,255,0.3);
      box-shadow: 1px 1px 2px rgba(79,209,197,.64);
  }
  .nav_bar{
      font-family: Lato, sans-serif;
      font-size: 110%;
      float: right;
      list-style-type: none;
      margin-right: 40px;
      margin-top: 40px;
      text-decoration: none;
      min-width: 300px;
      min-height: 60px;
      font-family: 'Nunito', sans-serif;
      text-transform: uppercase;
      letter-spacing: 1.3px;
      font-weight: 700;
      color: #313133;
      background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
      border: none;
      border-radius: 1000px;
      box-shadow: 12px 12px 24px rgba(79,209,197,.64);
      transition: all 0.3s ease-in-out 0s;
      cursor: pointer;
      outline: none;
      position: relative;
      padding: 10px;
  }
  .nav_bar:hover, .nav_bar:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  .hom_main{
    
    width: 60%;
    margin: 0px auto;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px groove #4FD1C5;
  }
  .hom_text{
    font-size: 20px;
    text-shadow: 1px 0px 0px rgba(0,0,0,0.3), 
    0px 0px 1px #4fd1c5;
    text-align:center;
    overflow: hidden;
    clear: both;
  }
  

.instructions,
.quiz_page,
.result_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 20px  #4fd1c5, 
    0px 50px 600px 600px #F3FFFF;
}

.instructions.activeInfo,
.quiz_page.activeQuiz,
.result_box.activeResult{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    background-blend-mode: color;
}
.wrap{
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    clear: both;
  }

.home_page button{
    
        min-width: 300px;
        min-height: 60px;
        font-family: 'Nunito', sans-serif;
        font-size: 22px;
        text-transform: uppercase;
        letter-spacing: 1.3px;
        font-weight: 700;
        color: #313133;
        background: #4FD1C5;
      background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
        border: none;
        border-radius: 1000px;
        box-shadow: 12px 12px 24px rgba(79,209,197,.64);
        transition: all 0.3s ease-in-out 0s;
        cursor: pointer;
        outline: none;
        position: relative;
        padding: 10px;
        }
    
      .start_quiz button::before {
      content: '';
        border-radius: 1000px;
        min-width: calc(300px + 12px);
        min-height: calc(60px + 12px);
        border: 6px solid #00FFCB;
        box-shadow: 0 0 60px rgba(0,255,203,.64);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all .3s ease-in-out 0s;
      }
      
      .start_quiz:hover, .start_quiz:focus {
        color: #313133;
        transform: translateY(-6px);
      }
      
      .start_quiz button:hover::before, .start_quiz button:focus::before {
        opacity: 1;
      }
      
      .start_quiz button::after {
        content: '';
        width: 30px; height: 30px;
        border-radius: 100%;
        border: 6px solid #00FFCB;
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: ring 1.5s infinite;
      }
      
      .start_quiz button:hover::after, .start_quiz button:focus::after {
        animation: none;
        display: none;
      }
      
      @keyframes ring {
        0% {
          width: 30px;
          height: 30px;
          opacity: 1;
        }
        100% {
          position:absolute;
          width: 300px;
          height: 300px;
          opacity: 0;
        }
      }

.instructions{
    width: 900px;
    height: 600px;
    background: #fff;
    border-radius: 30px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.instructions .instr_head{
    height: 120px;
    width: 100%;
    border-bottom: 1px solid #00FFCB;;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 600;
}

.instructions .instr_body{
    height: 355px;
    padding: 60px 100px;
    margin: 5px 0;
    font-size: 22px;
}

.instructions .buttons{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    border-top: 1px solid lightgrey;
}

.instructions .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #4FD1C5;
    transition: all 0.3s ease;
}

.quiz_page{
    width: 900px;
    height: 600px;
    background: #fff;
    border-radius: 30px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.quiz_page header{
    position: relative;
    z-index: 2;
    height: 200px;
    padding: 0 30px;
    background: #fff;
    border-radius: 30px 30px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}

.quiz_page header .quiz_head{
    font-size: 20px;
    font-weight: 600;
}

.quiz_page header .clock{
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
    height: 45px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    margin-left: 30px;
}

.quiz_page header .clock .show-time{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quiz_page header .clock .count_down{
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: black;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: white;
    border: 1px solid #343a40;
    user-select: none;
}

.quiz_page header .time_line{
    position: absolute;
    bottom: 0px;
    margin-left: 120px;
    width: 80%;
    height: 20px;
    background: #4FD1C5;
}
.quiz_page header .total_que span{
    display: flex;
    user-select: none;
}

.quiz_page header .total_que span p{
    font-weight: 500;
    padding: 0 5px;
}

.quiz_page header .total_que span p:first-child{
    padding-left: 0px;
}

section{
    padding: 25px 30px 20px 30px;
    background: #fff;
}

section .que_text{
    font-size: 17px;
    font-weight: 600;
}

section .option_list{
    padding: 20px 0px;
    display: block;   
}

section .option_list .option{
    background: aliceblue;
    border: 1px solid #4FD1C5;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .option_list .option:last-child{
    margin-bottom: 0px;
}

section .option_list .option:hover{
    color: #fefff;
    background: #cce5ff;
    border: 1px solid #b8daff;
}

section .option_list .option.correct{
    color: f3ffff;
    background: #d4edda;
    border: 1px solid #c3e6cb;
}

section .option_list .option.incorrect{
    color: red;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}

section .option_list .option.disabled{
    pointer-events: none;
}

section .option_list .option .icon{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 24px;
}
.option_list .option .icon.tick{
    color: #23903c;
    border-color: #4FD1C5;
    background: #d4edda;
}

.option_list .option .icon.cross{
    color: red;
    background: #f8d7da;
    border-color: #a42834;
}

footer{
    height: 60px;
    padding: 0 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid lightgrey;
}



footer button{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background: #4FD1C5;
    border: 1px solid #4FD1C5;
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
}

footer button:hover{
    background: white;
    color: #4FD1C5;
}

footer button.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.result_box{
    background: #fff;
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 450px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.result_box .icon{
    font-size: 100px;
    color: #4FD1C5;
    margin-bottom: 10px;
}

.result_box .complete_text{
    font-size: 20px;
    font-weight: 500;
}

.result_box .score_text span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.result_box .score_text span p{
    padding: 0 4px;
    font-weight: 600;
}

.result_box .buttons{
    display: flex;
    margin: 20px 0;
}

.result_box .buttons button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #4FD1C5;
    transition: all 0.3s ease;
}

.buttons button.restart{
    color: #fff;
    background: #4FD1C5;
}

.buttons button.restart:hover{
    background: #4FD1C5;
}

.buttons button.exit_quiz{
    color: #4FD1C5;
    background: #fff;
}

.buttons button.exit_quiz:hover{
    color: #fff;
    background: #4FD1C5;
}